# Copy to a maintainace-specific environment file if useful.
PORTAL_MANAGEMENT_DB=C:\PortalData\portal_management.sqlite3
PORTAL_PTO_ORG_CSV=C:\Deploy\PTO_ORG.csv
PORTAL_DEFAULT_ADMIN_EMAILS=robert.jarzemsky@charlottenc.gov,crystal.williams@charlottenc.gov
PORTAL_DEFAULT_SYSTEM_ADMIN_EMAILS=shawn.zhao@charlottenc.gov
